@import url('./reset.css');
@import url('./common.css');


/* ----------------------------- 공통스타일 ----------------------------- */
html{font-size: 16px;}
body{
    color: #555;
}
.title>h2{
    color: #000;
    font-size: 40px;
}
.title>p{
    padding-top: 10px;
    color: #555;
}




/*----------------------------- header -----------------------------*/
header{
    position: fixed;
    left: 0; top: 0;
    width: 100%;
    
}
header>div{
    width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    
}
header>div>h1{
    font-size: 30px;
}
header>div>h1>a{
    color: white;
} 
header>div>nav{
    
}
header>div>nav>a{
    color: white;
    padding: 0 20px;
    display: inline-block;
}






/* ----------------------------- 인덱스 페이지 내용 ----------------------------- */
.spot{
    height: 100vh;
    width: 100%;
    background: url(../imgs/img_main-spot.jpg) 0 0/ cover no-repeat ;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.spot>div{
    color: white;
}
.spot>div>b{
    font-size: 30px;
}
.spot>div>p{
    font-size: 62px;
    padding-bottom: 24px;
}
.spot>div>a{
    font-size: 16px;
    background-color: orange;
    display: inline-block;
    padding: 15px 40px;
    color: inherit;
}


/* ----------------------------- ABOUT ----------------------------- */
.about{
    width: 1300px;
    margin: 0 auto;
    padding: 100px 0;
    text-align: center;
}

.about .title{}

.about .contents{
    padding: 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.about .contents>figure{
    flex: 1;
    padding: 0 20px;
}

.about .contents>figure>p{
    width: 160px;
    height: 160px;
    background-color: orange;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    transition: 0.7s;
}
.about .contents>figure:hover>p{
    background-color: red;
    border-radius: 0;
}

.about .contents>figure>p img{}

.about .contents>figure>figcaption>b{
    color: #000;
    font-size: 20px;
    display: inline-block;
    margin: 15px 0 20px;
}

.about .contents>figure>figcaption>p{
    color: #888;
    line-height: 1.6;
}








/* ----------------------------- PORTFOLIO ----------------------------- */
.portfolio{
    text-align: center;
    background-color: #eee;
    padding: 100px 0;
}

.portfolio .title,
.portfolio .contents{
    width: 1300px;
    margin: 0 auto;
}

.portfolio .contents{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: space-between;
    padding-top: 60px;
}
.portfolio .contents>figure{
     flex: 0 0 30%;

/* 
     width: 30%; 
*/
    
/* 
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 30%; 
*/
}
.portfolio .contents>figure>p{
    /* height: 300px; */
    overflow: hidden;
    margin: 0 auto;
}
.portfolio .contents>figure>p>img{
    width: 100%;
    transition: 0.5s;
}
.portfolio .contents>figure:hover>p>img{  
    transform: scale(1.2);

    /* width: 120%; */
}

.portfolio .contents>figure>figcaption{}
.portfolio .contents>figure>figcaption>b{
    color: #000;
    font-size: 20px;
    display: inline-block;
    margin: 15px 0 20px;
}
.portfolio .contents>figure>figcaption>p{
    line-height: 1.6;
    color: #555;
}



/* ----------------------------- CONTACT ----------------------------- */
.contact{
    background-color: #777;
    text-align: center;
    padding: 100px 0;
}

.contact .title,
.contact .contents{
    margin: 0 auto;
}

.contact>.contents{
    width: 1300px;
    padding: 60px 0;
}